<section fxLayout="column" fxLayoutAlign="center center">
    <form
        #form="ngForm" 
        (ngSubmit)="onSubmit(form)" 
        [formGroup]="purchaseForm"
    >
        <div fxLayout="column" fxLayoutAlign="center center" *ngIf="isLoading" class="form-container">
            <mat-spinner ></mat-spinner>
        </div>
        
        <div *ngIf="!isLoading" fxLayout="column" fxLayoutAlign="center center" class="form-container">        
            
            <div class="secondary-container" fxLayout="row" fxLayoutAlign="space-around center">
                
                <div fxLayout="column" fxLayoutAlign="center center">
                    
                    <mat-form-field appearance="fill">
                        <mat-label>Select a user</mat-label>                        
                        <mat-select 
                            required 
                            formControlName='User'                                                                              
                            >                          
                            <mat-option 
                                *ngFor="let user of users" 
                                [value]="user.Id"                                
                                >
                                {{user.Username}}                            
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    
                    <mat-form-field appearance="outline">
                        <mat-label>ARS</mat-label>
                        <input 
                            formControlName='Amount'
                            matInput 
                            placeholder="$" 
                            type="number"                             
                            (ngModelChange)="onChange($event)"
                            [(ngModel)]="ars"                                                               
                        >
                    </mat-form-field>
                </div>
                <div>
                    <h2>To</h2>
                </div>
                <div fxLayout="column" fxLayoutAlign="center center">


                    <mat-form-field appearance="fill">
                        <mat-label>Select a currency</mat-label>                        
                        <mat-select 
                            required 
                            formControlName='Code'  
                            (ngModelChange)="changeCurrency($event)" 
                            [(ngModel)]="initialValue"                                                       
                            >                          
                            <mat-option 
                                *ngFor="let currency of currencyCombox" 
                                [value]="currency.Id"                                
                                >
                                {{currency.Name}}                            
                            </mat-option>
                        </mat-select>
                    </mat-form-field>


                      <mat-form-field appearance="outline">
                        <mat-label>{{toCurrencyLabel}}</mat-label>
                        <input 
                            formControlName='PurchasedAmount'
                            matInput 
                            placeholder="$"                              
                            [(ngModel)]="conversion" 
                            type="number"                                                                                                                                     
                        >
                    </mat-form-field>
                </div>
            </div>
            <button type="submit" mat-raised-button color="primary">Purchase currency</button>
             
        
        </div>        
    </form>
</section>


